body {
	background-image: url(sky01\ \(1\).png);
    background-size: cover; /* 画像を全体にフィットさせる */
    background-repeat: no-repeat; /* 画像の繰り返しを防ぐ */
    font-size: 25px;}
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	line-height: 60px;
	background: #13ff62;
	font-size: 50%;
}
/* ロゴ */
header .logo {
	padding: 0 20px;
	font-size: 18px;
	color: #000000;
	letter-spacing: .1em;
}
/* メニューボタン */
header .menu {
	position: relative;
	width: 60px;
	height: 60px;
	cursor: pointer;
}

header .menu span:nth-of-type(1) {
	transform: translateY(-80px);
}
header .menu span:nth-of-type(1) {
	transform: translateY(10px);	
}
.about{
	color:rgb(255, 0, 0);
}
.highlight {
	color: red;
    font-size:50px ;
}
.highlight1 {color: rgb(0, 217, 255);
    font-size:70px ;

}
.move-right {
	margin-left: 70px; /* 右に20px移動 */
  }
  .highlight2 {
	color: rgb(0, 0, 0);
    font-size:90px ;
	
}
.highlight3 {
	color: rgb(0, 0, 0);
    font-size:30px ;
	
}
.move-down {
	margin-top: 20px; /* 下に20px移動 */
  }