body {
    background-image: url(sky01\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 25px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* ヘッダーのスタイル */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    line-height: 60px;
    background: #13ff62;
    font-size: 50%;
    padding: 0 20px;
    box-sizing: border-box;
}

/* ロゴ */
header .logo {
    padding: 0;
    font-size: 18px;
    color: #000000;
    letter-spacing: .1em;
    text-align: center;
}

/* 学歴情報 */
.education {
    text-align: center;
    margin: 20px;
    max-width: 800px;
}

.school {
    margin-bottom: 40px;
}

.school h2 {
    color: rgb(0, 217, 255);
    font-size: 36px;
}

/* 画像のスタイル */
.school-image {
    width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin: 10px 0;
    object-fit: cover;
}
/* 高校の画像に対するスタイル */
.education .school .high-school-image {
    max-width: 800px;
    height: auto;
}

/* 専門学校の画像に対するスタイル */
.education .school .specialized-school-image {
    max-width: 500px;
    height: auto;
}
